.login-box {
  width: 320px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #111;
  padding: 30px;
  border-radius: 10px;
}

.login-box h2 {
  text-align: center;
}

.login-box input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #000;
  color: white;
}

.login-box button {
  padding: 10px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}