 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

.header {
  position: relative;
  background: black;
  border-bottom: 1px solid #222;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;

}
.hero-header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: transparent;
  border-bottom: none;
  align-items: center;
 }  

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.nav a:hover {
  color: white;
}



.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://i.pinimg.com/1200x/c7/85/48/c78548f0268dadd3d7eb40c9a4737df3.jpg") center/cover;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content {
  max-width: 500px;
}

.hero-content h1 {
  font-size: 52px;
  color: white;
}

.hero-content p {
  color: #ddd;
}
.primary {
  display: inline-block;
  padding: 12px 20px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.secondary {
  padding: 12px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.image-sections {
  display: flex;
  flex-direction: column;
}

.image-block {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.image-block::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.6), transparent);
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 2;
}

.overlay h2 {
  font-size: 32px;
}

.overlay p {
  margin-top: 10px;
  color: #ccc;
}

.image-block:hover img {
  transform: scale(1.05);
}
.categories {
  display: flex;
  flex-direction: column;
}

.category {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.category-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.category-text h2 {
  font-size: 36px;
}

.category-text p {
  margin-top: 10px;
  color: #ccc;
}

.category:hover img {
  transform: scale(1.05);
}

.products {
  padding: 50px;
}

.products h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: #ccc;
}

.card:hover {
  transform: translateY(-5px);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-top: 1px solid #222;
}

.footer-left h2 {
  font-size: 28px;
}

.footer-left p {
  margin: 10px 0;
  color: #ccc;
}

.footer-left small {
  color: #777;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links p {
  margin: 6px 0;
  color: #ccc;
  cursor: pointer;
}

.footer-links p:hover {
  color: white;
}
.split-section {
  padding: 80px 60px;
  background: #000;
}

.split {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 100px;
}

.split img {
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.split-text {
  width: 50%;
}

.split-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.split-text p {
  color: #aaa;
  margin-bottom: 20px;
  line-height: 1.6;
}

.split.reverse {
  flex-direction: row-reverse;
}
.split img {
  transition: transform 0.5s ease;
}

.split img:hover {
  transform: scale(1.05);
}


/* Responsive Styles */
@media (max-width: 768px) {

  .split {
    flex-direction: column;
    gap: 20px;
  }

  .split.reverse {
    flex-direction: column;
  }

  .split img {
    width: 100%;
    height: 250px;
  }

  .split-text {
    width: 100%;
  }

  .split-text h2 {
    font-size: 28px;
  }

}